.inner-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  min-height: 250px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.gallery img {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(--light-navy));
  -webkit-filter: drop-shadow(0 0 10px var(--light-navy));
}
