<section class="about bg-green">
  <div
    class="container d-flex flex-column align-items-center justify-content-center gap-3 vh-100"
  >
    <h2 class="text-white">About Section</h2>
    <app-header-underline class="text-white"></app-header-underline>

    <div class="about-content d-flex text-white gap-2">
      <div class="paragraph-holder">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="paragraph-holder">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>
