<section class="about bg-green">
  <div
    class="container d-flex flex-column align-items-center justify-content-center gap-3 vh-100"
  >
    <h2 class="text-white">About Section</h2>
    <app-header-underline class="text-white"></app-header-underline>

    <div class="about-content row row-cols-2-md row-cols-1 text-white">
      <div class="col">
        <div class="paragraph-holder">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="paragraph-holder">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
