<div class="contact-section bg-light-navy">
  <div class="container">
    <div
      class="row row-cols-1 row-cols-md-3 mx-auto bg-light-navy text-white text-center g-5"
    >
      <div class="col">
        <div class="inner p-3">
          <h3>LOCATION</h3>
          <span>2215 John Daniel Drive</span>
          <span>Clark, MO 65243</span>
        </div>
      </div>

      <div class="col">
        <div class="inner p-3">
          <h3>AROUND THE WEB</h3>
          <ul class="d-flex gap-4 list-unstyled justify-content-center">
            <li>
              <a href=""><i class="fa-brands fa-facebook-f text-white"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-x-twitter text-white"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-github text-white"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-linkedin-in text-white"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="inner p-3">
          <h3>ABOUT FREELANCER</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
