<div
  class="container d-flex flex-column justify-content-center align-items-center min-vh-100 text-center"
>
  <img
    src="./assets/error404.png"
    alt="error page not found"
    class="img-fluid mb-4"
    style="max-width: 350px"
  />
  <h1 class="display-1 text-danger fw-bold">404</h1>
  <h2 class="h4 mb-3">Oops! Page Not Found</h2>
  <p class="mb-4 text-muted">
    The page you’re looking for doesn’t exist or may have been moved.
  </p>
  <a routerLink="/" class="btn my-btn bg-green px-4 text-white">Go Back Home</a>
</div>
